block mainVariables
if !gGutter
	-var gGutter = 20
if !gContainer
	-var gContainer = 600
if !gColumns
	-var gColumns = 6

include mixins/_jade-mixin.jade

|<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
html(xmlns="http://www.w3.org/1999/xhtml")
	head
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(name="format-detection", content="telephone=no")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		if final
			style
				@@include('styles.css')
		else
			link(href="styles.css", rel='stylesheet')
	body.st-bodycolor

		if final
			| ##include('../source/include-html.html')

		//- container
		.st-wrapper
			block content
		//- End container

