//- Base setting size layout
block mainVariables
	- var gGutter = 20; //- gutter columns
	- var gContainer = 600; //- width container
	- var gColumns = 6; //- size column

//- include base template
extends _jade-template.jade

//- BODY EMAIL
block content

	//- fist screen
	+wrapper-bg('#f5f5f5', '#3e615a', "img/fone.jpg", 600, 443)
		+center
			+row
				+column-alone(5)
					+roll(50)
					.st-center
						+a('http://csscoder.pro')
							+img-inline('img/logo.png', 193, 33, "CSSCODER logo")
					+roll(80)
					.title.st-center HAVE A GOOD DAY
					+roll(20)
					+center
						+table-align('center')
							tr
								+td(valign='middle',width='20%')
									+hr('#788d8f', '2')
								+td(width='50%').pl20.pr20
									.sub-title.st-center  JUST FOR YOU ON GITHUB
								+td(valign='middle',width='20%')
									+hr('#788d8f', '2')
					+roll(60)
					.st-center
						+button('https://github.com/csscoderRU/Responsive-Email-Template-Builder').st-button  GET YOUR COPY NOW
					+roll(60)
	//- End fist screen
	//- second screen
	+wrapper('#f5f5f5', '#eeeeef')
		+row
			+roll(20)
			+column-first(2)
				.st-center
					+roll(20)
					+img-inline('img/man.png', 40, 40, "PROFESIONALS logo")
					+roll(10)
					.group-title PROFESIONALS
					+roll(10)
					+hr('#e2e3e4', 2, '70%')
					+roll(10)
					.group-text
						| Lorem ipsum dolor sit ametconsectetur elit.
			+column(2)
				.st-center
					+roll(20)
					+img-inline('img/like.png', 40, 40, 'AMATEURS logo')
					+roll(10)
					.group-title AMATEURS
					+roll(10)
					+hr('#e2e3e4', 2, '70%')
					+roll(10)
					.group-text
						| Lorem ipsum dolor sit ametconsectetur elit.
			+column-last(2)
				.st-center
					+roll(20)
					+img-inline('img/every.png', 40, 40, "FOR EVERYONE logo")
					+roll(10)
					.group-title FOR EVERYONE
					+roll(10)
					+hr('#e2e3e4', 2, '70%')
					+roll(10)
					.group-text
						| Lorem ipsum dolor sit ametconsectetur elit.

			+roll(40)
	//- End second screen
	//- third screen
	+wrapper('#f5f5f5')
		+row
			+column-first(3).st-left
				+roll(40)
				+a('https://github.com/csscoderRU/Responsive-Email-Template-Builder')
					+img('img/i1.jpg', 270, 170, "Lake. Russia 1900. The last, unfinished Levitan painting.").m-full
				+roll(20)
				.group-title ISAAC LEVITAN
				+roll(10)
				+hr('#e2e3e4', 2)
				+roll(10)
				.group-text
					| Lake. Russia 1900. The last, unfinished Levitan painting.
				+roll(20)
				+button('https://github.com/csscoderRU/Responsive-Email-Template-Builder', 'left').st-button
					| READ MORE
			+column-last(3).st-left
				+roll(40)
				+a('https://github.com/csscoderRU/Responsive-Email-Template-Builder')
					+img('img/i2.jpg', 270, 170, "The brig Mercury encounter after defeating two Turkish ships").m-full
				+roll(20)
				.group-title IVAN AIVAZOVSKY
				+roll(10)
				+hr('#e2e3e4', 2)
				+roll(10)
				.group-text
					| The brig Mercury encounter after defeating two Turkish ships ...
				+roll(20)
				+button('https://github.com/csscoderRU/Responsive-Email-Template-Builder', 'left').st-button
					| READ MORE
			+roll(40)
	//- End third screen
	//- fours screen
	+wrapper('#f5f5f5', '#eeeeef')
		+row
			+column-alone(6).st-left
				+roll(40)
				+table
					tr
						+td('left', 'middle', '1%').pr20
							+img-inline('img/info.png', 28, 28, "info ico")
						+td('left', 'middle')
							.group-title FULLY SUPPORTED TEMPLATE
				+roll(20)
				+hr('#e2e3e4', 2)
				+roll(20)
				.group-text
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
					=' '
					+a-text() link-out
					=' '
					| malesuada sodales risus, a adipiscing lorem commodo vitae. Ut semper semper lacus. Suspendisse convallis vel tellus at consectetur. Aenean risus arcu
				+roll(20)
				+button('https://github.com/csscoderRU/Responsive-Email-Template-Builder', 'none').st-button
					| READ MORE
				+roll(40)

	//- End fours screen
	//- fives screen
	+wrapper('#f5f5f5')
		+row
			+roll(20)
			+column-first(3)
				+roll(20)
				+a('https://github.com/csscoderRU/Responsive-Email-Template-Builder')
					+img('img/b1.jpg', 270, 170, "BOGATYRS, 1898" ).m-full
			+column-last(3).st-left
				+roll(20)
				.group-title BOGATYRS, 1898
				+roll(10)
				+hr('#e2e3e4', 2)
				+roll(20)
				.group-text
					| Viktor Vasnetsov. Bogatyrs (left to right): Dobrynya Nikitich, Ilya Muromets, Alyosha Popovich. Oil on canvas 321*222 Tretyakov Gallery
				+roll(20)
				+button('https://github.com/csscoderRU/Responsive-Email-Template-Builder', 'none').st-button
					| READ MORE
			+roll(40)
	//- End fives screen
	//- footer
	+wrapper('#f5f5f5', '#eeeeef')
		+row

			+column-first(3).st-left.m-center
				+roll(20)
				.st-footer
					| CSSCODER © 2016 -
					= ' '
					| Unsubscribe
					= ' '
					+a here
			+column-last(3).st-right.st-center
				+roll(20)
				+table-align('right').m-tcenter
					tr
						+td
							+table.m-tcenter
								tr
									+td.pl20
										+a("https://www.facebook.com/csscoder")
											+img-inline('img/fb.png', 20, 20, "facebook")
									+td.pl20
										+a("https://twitter.com/csscoder")
											+img-inline('img/tw.png', 20, 20, "twitter")
									+td.pl20
										+a("mailto:alex@csscoder.pro")
											+img-inline('img/mail.png', 20, 20, "alex@csscoder.pro")
			+roll(20)
	//- End footer
//- END BODY EMAIL

