// Button
//.st-button {
//	border-radius: 100px;
//	background-color: #55c2af;
//	td {
//		padding: 10px 20px;
//	}
//	a {
//		color: #ffffff;
//		text-decoration: none;
//		@include font(12px, 14px, $font1);
//		font-weight: 700;
//	}
//}
//.st-button-text {
//
//}

//  TOP
table {
	border-collapse: collapse;
}


.st-button {
	display: inline-block;
	color: #ffffff !important;
	background-color: #55c2af;
	border-radius: 100px;
	text-decoration: none;
	border: 10px solid #55c2af;
	@include font(12px, 14px, $font1);

	span {
		color: #ffffff;
		border-left: #55c2af 20px solid;
    border-right: #55c2af 20px solid;
	}
}

.st-btn3 {
	text-align: center;
	$txtColor: #ffffff;
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	width: 100%;
	color:  $txtColor !important;
	span {
		padding: 0 20px;
		@include font(14px, 18px, $font1);
		display: inline-block;
		color: $txtColor;
		vertical-align: top;
	}
}

.btn-st3--1 {
	span {
		@include font(12px, 16px, $font1);
	}
}