/* Headings */
.txt-h1 {
	@include font(36px, 50px, $font1);
}

.txt-h2 {
	@include font(30px, 42px, $font1);
}

.txt-h3 {
	@include font(24px, 32px, $font1);
}

.txt-h4 {
	@include font(20px, 28px, $font1);
}

.txt-h5 {
	@include font(16px, 22px, $font1);
}

/*Paragraph*/
.txt-p {
	@include font(14px, 18px, $font1);
	padding-top: 10px;
	padding-bottom: 10px;
}

/*Align text block*/
.st-center {
	text-align: center;
}

.st-left {
	text-align: left;
}

.st-right {
	text-align: right;
}

.st-just {
	text-align: justify;
}

// titles
.title {
	@include font(40px, 50px, $font1);
	font-weight: bold;
	color: #ffffff;
}
.sub-title {
	color: #ffffff;
	@include font(11px, 16px, $font1);
}

.group-title {
	@include font(16px, 20px, $font1);
	color: #40474e;
	font-weight: 700;
}
.group-text {
	@include font(14px, 20px, $font1);
	color: #787b80;

	a {
		color: #57c3af;
		text-decoration: underline;
	}
}

.st-footer {
	color: #aaacaf;
	@include font(12px, 16px, $font1);
	a {
		text-decoration: underline !important;
		color: #aaacaf;
	}
}
/*****************************/
/*MOBILE SECTION*/
/*****************************/

/*Align text mobile*/
.m-center {
	@include mobile {
		text-align: center !important;
	}
}

.m-left {
	@include mobile {
		text-align: left !important;
	}
}

.m-right {
	@include mobile {
		text-align: right !important;
	}
}

