block mainVariables
if !gGutter
  -let gGutter = 20
if !gContainer
  -let gContainer = 600
if !gColumns
  -let gColumns = 6

include ../mixins/_pug-mixin

| <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name="format-detection", content="telephone=no")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    if final
      style(type="text/css")
        | @@include('styles.css')
    else
      link(href="styles.css", rel='stylesheet')
  body.st-bodycolor

    if final
      | ##include('../src/template/outlook-fix/outlook-fix.html')

    //- container
    .st-wrapper
      block content
    //- End container

